<!DOCTYPE html>
<html>
  <head>
    <title>To do list</title>
  </head>
  <body>
    <div class="box">
      <h1>ITEMS</h1>
    </div>
    <div class="box">
      <% for(var i= 0 ;i<elem.length ; i++) {%>
        <p><%= elem[i] %></p>
      <%}%>
      <form action="/" method="post">
        <input type="text" name="ele1" placeholder="enter the task" />
        <button type="submit">+</button>
      </form>
    </div>
  </body>
</html>
