html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(
    60deg,
    rgba(73, 231, 59, 1) 50%,
    rgba(241, 231, 231, 1) 50%
  );
  min-height: 1000px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px;
}
#heading {
  background-color: rgb(73, 231, 59);
  text-align: center;
  color: rgba(241, 231, 231, 1);
  padding-top: 1px;
  box-shadow: 5px 5px 15px -5px;
}
.item {
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.item:last-child {
  border-bottom: 0;
}
input:checked + p {
  text-decoration: line-through;
  text-decoration-color: rgb(73, 231, 59);
}
input[type="checkbox"] {
  margin: 20px;
}
p {
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}
form {
  text-align: center;
  margin: auto;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50px;
  color: rgba(241, 231, 231, 1);
  background-color: rgb(73, 231, 59);
  font-size: 30px;
  /* padding: 4px; */
  /* margin: 3px 0px; */
  border: none;
}
input[type="text"] {
  text-align: center;
  height: 50px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(73, 231, 59);
}
::placeholder {
  color: grey;
  opacity: 1;
}
footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
}
